<div class="col-md-6 col-md-offset-3" style="margin-top:150px;">
    <div class="row">
        <div class="col-md-3 icon">
            <h1><i class="fa fa-question fa-4x"></i><h1>
        </div>
        <div class="col-md-9">
            <h1><small>Page Not Found</small></h1>
            <p class="lead">It seems we cannot find the page you're looking for.</p>
            <p>You may have clicked on a bad external link, or mis-typed a URL. Or the application could currently be experiencing problems. For now, you may want to <a href="#/">return home</a>.</p>
        </div>
    </div>
</div>